@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.buttonContainer {
  margin-top: 50px;
  text-align: center;
}

.followersButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  grid-column: 8/9;
  height: 40px;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #00b7ff;
  color: white;
}

.followersButton:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
  box-shadow: 2px 10px 3px rgba(0, 0, 0, 0.1);
}

.followingButton {
  margin-left: 30px;
}
