@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

.Navbar {
  background-color: #6acc9b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  height: 100px;
  width: 100%;
}

.navSearch {
  outline: none;
  height: 40%;
  width: 20%;
}

.Navbar h1 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}
