.profileDisplay {
  width: 100%;
  background: rgb(239, 105, 61);
}

.profileBanner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.profilePicture {
  position: absolute; /* Position the profile picture absolutely */
  top: 250px; /* Adjust as needed to center vertically */
  left: 100px; /* Place it at the center horizontally */
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1; /* Ensure it appears above the banner */
  object-fit: cover;
}

.usersName {
  margin-top: 170px;
}

.profileMenu {
  border-top: 2px solid black;
  border-bottom: 3px solid black;
}

.menuStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.createFormContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.createPostForm {
  background-color: antiquewhite;
  width: 80%;
  padding: 30px 30px;
  border-radius: 30px;
  margin-bottom: 20px;

  box-shadow: 1px 10px 15px;
}
