.postBanner {
  border-bottom: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;

  background-color: rgb(248, 249, 239);
}

.postBanner:hover {
  transform: scale(1.02);
}

.textLink {
  color: inherit;
  text-decoration: inherit;
}

/* .postContainer {
  position: relative; 

}
.deleteButton {
  position: absolute; 
  top: 70px; 
  right: 10px; 
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

} */
