.pageBackground {
  width: 100vp;
  height: 100vh;
  background-color: rgba(155, 155, 255, 0.2);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.BGvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
}
.twoButtons {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.login {
  border: 2px solid #fff;
  padding: 0 30px;
  border-radius: 30px;
}

.login:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
  font-weight: 500;
}

.signup {
  border: 2px solid #fff;
  padding: 0 30px;
  border-radius: 30px;
}

.signup:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
  font-weight: 500;
}
